@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Mono:400");
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';

@import "../node_modules/bootstrap/scss/functions";
@import "assets/bootstrap/variables";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "assets/bootstrap/overhide";
@import "assets/styles/fonts";

.img-filter {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-filter: gray;
  filter: gray;
  border-radius: 7px;
}

.titulo {
  padding: 0;
  margin: 0;
}

.texto-menor {
  font-size: 0.8rem;
}

.interruptor{
	display: flex; flex-direction:row; justify-content:center; margin-right: auto; margin-left: auto;
	>a{
		font: 14px Roboto; color:#666; padding: .5em 1em; background: #eee; border: 1px solid #ddd; text-decoration: none;
		transition: all .4s ease-in-out;

		&:first-child{border-radius: 50px 0 0 50px;}
		&:last-child{border-radius: 0 50px 50px 0;}
		&:hover{background: #aaa; color:#fff; }
		&.active{background: #666; color:#fff; }
	}
}

.clear{
  display: block; clear: both; float: none;
}

.titulosessao{
  font-size: 17px; font-weight: 400; text-transform: uppercase; letter-spacing: .2em;
}

.governismo{
  padding:1rem;
  background:#8e3e90;
  border-radius: 8px;
  color: #FFF;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  .parlementar-img {
    width: 80px;
    height: auto;
    margin: 0 1rem 1rem 0;
    flex: 0 0 80px;
  }
  >div{width: 100%;}
  h2{
    font-size: 18px; font-weight: 400; margin: 0;
    span{display: inline-block; vertical-align: baseline; white-space:nowrap; opacity: .37; font-size: 14px;}
  }
  p{font-size: 11px; letter-spacing: .01em; margin: 0; text-transform: uppercase; opacity: .37;}

  .t{font-size: 14px;}
  .n{font-size: 24px; font-family: 'Roboto Mono'; line-height: 1;}
  .o{opacity: .37;}
}

.graficobarra{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  .estrutura{
    padding: 1rem 1.5rem 1rem 0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    position: relative;
    width: 100%; max-width: 150px;
    &:before,&:after{
      content: ""; position: absolute; right: 0; width: 100%; 
      height: 1rem; line-height: 1rem; border-bottom: 1px solid; 
      text-align: right; opacity: .37; font: 12px 'Roboto Mono';
    }
    &:before{content: "100"; top: 0;}
    &:after{content: "0"; bottom: 1rem;}
    .ano{
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      position: relative;
      height: 50px;
      >span{
        position: absolute; left: 0; bottom: -1rem; line-height: 1rem;
        opacity: .37; font: 12px 'Roboto Mono';
      }
      .mes{
        display: block; width: 5px; background: #fff; margin-right: 3px; min-height: 1px;
      }
    }
  }
}