.parlamentar {
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px black;
  padding: 1rem;
}

.parlamentar-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.parlementar-subnav {
  display: flex;
  justify-content: center;
}

.subnav {
  background-color: #29348E;
}

.subnav-link {
  color: #fff;

  &.active {
    font-weight: 700;
  }
}

.parlementar-img {
  width: 114px;
  height: 152px;
  border-radius: 20px;
  filter: grayscale(100%);
}
