<div
  class="container pt-3"
  *ngIf="parlamentar"
>

  <div class="parlementar-subnav">
    <div class="subnav">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a
            class="nav-link subnav-link"
            [routerLink]="['./votacoes']"
            [routerLinkActive]="'active'"
          >
            Votações
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link subnav-link"
            [routerLink]="['./proposicoes']"
            [routerLinkActive]="'active'"
          >
            Proposições
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link subnav-link"
            [routerLink]="['./gastos-ceap']"
            [routerLinkActive]="'active'"
          >
            Gastos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link subnav-link"
            [routerLink]="['./discursos']"
            [routerLinkActive]="'active'"
          >
            Discursos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link subnav-link"
            [routerLink]="['./patrimonio']"
            [routerLinkActive]="'active'"
          >
            Patrimônio
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link subnav-link"
            [routerLink]="['./eleicao']"
            [routerLinkActive]="'active'"
          >
            Eleição
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="parlamentar">
    <div class="row gutters-sm">
      <div class="col-auto">
        <img
          [defaultImage]="'assets/imgs/nophoto.png'"
          [lazyLoad]="parlamentar.getFoto()"
          [offset]="100"
          width="100%"
          class="parlementar-img"
        >
      </div>
      <div class="col">
        <div class="parlamentar-title">{{ parlamentar.nomeEleitoral }}</div>
        <p>
          {{getCargoParlamentar(parlamentar?.casa)}} - {{ parlamentar.parlamentarPartido.sigla }}/{{ parlamentar.uf }}
        </p>
        <p>
          <b>Data de nascimento:</b>
          {{ parlamentar.dataNascimento | date:'dd/MM/yyyy' }}
        </p>
        <p>
          <b>Naturalidade:</b>
          {{ parlamentar.naturalidade }}
        </p>
        <p>
          <b>Endereço:</b>
          {{ parlamentar.endereco ? parlamentar.endereco : 'Indisponível'}}
        </p>
        <p>
          <b>Telefone:</b>
          {{ parlamentar.telefone ? parlamentar.telefone : 'Indisponível'}}
        </p>
        <p>
          <b>Email:</b>
          {{ parlamentar.email ? parlamentar.email : 'Indisponível'}}
        </p>
      </div>
    </div>
  </div>

</div>

<div class="parlamentar-pages container">
  <router-outlet></router-outlet>
</div>
