.parlamentar {
  margin-top: 15px;
  margin-bottom: 15px;
  border: solid 1px #ddd;
  padding: 1rem;
}

.parlamentar-title {
  font-weight: 700;
  font-size: 1.2rem;
}

.parlementar-subnav {
  display: flex;
  justify-content: center;
}

.subnav {
  background-color: #29348E;
  width: 100%;
  overflow: auto;
  .nav{
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.subnav-link {
  color: rgba(255,255,255,.6);
  padding: 1rem 1.3rem;
  font-size: 13.7px;
  text-transform: uppercase;
  letter-spacing: .07em;
  line-height: 1;
  font-weight: 500;
  border-bottom: 2px solid rgba(255,255,255,0);
  border-radius:0;
  &.active {
    border-bottom-color: #fff;
    color: #fff;
  }
}

.parlementar-img {
  width: 114px;
  height: auto;
  margin: 0 1rem 1rem 0;
  float:left;
}

p{margin-bottom: .4em;}

.p1{padding:1rem;}

.sticky{
  position: sticky; top: 1rem;
}