.votacoes-importantes {
  padding: 1rem;
  border-radius: 0.35rem;
  background-color: #29348E;
  color: #fff;
}

.objeto {
  border: solid 1px black;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
