.nav-link {
  font-size: 12px;
  font-family: Roboto;
  padding: 0;
  color: black;
  width: 74px;
  span{
    display: flex;
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    svg{
      polygon, path{
        fill: #888;
      }
    }
  }
  &:hover,&:focus,&.active{
    span{
      background: #666;
      svg{
        polygon, path{
          fill: #FFF;
        }
      }
    }
  }
}

.main-navbar {
  > .nav {
    flex: 1 0 auto;
  }
  @media (max-width: 992px) {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
}
