<div class="votacao">
  <div class="votacao-body">
    <div class="votacao-title">{{ proposicao?.nome }}
      <a
      [href]="getUrlProposicao(proposicao?.idProposicao, proposicao?.casa)"
      target="_blank"
      class="btn btn-link btn-sm"
    >
      Ver >>
    </a>
    </div>
    <!-- Votos -->
    <div>
      <div
        *ngFor="let votacao of proposicao?.proposicaoVotacoes"
        class="votacao-wrapper"
      >
        <div class="row">
          <div class="col-2">
            <div [ngClass]="getVotacaoClass(parlamentar?.votos[votacao.idVotacao], 'parlamentar')" class="text-center">
              {{ getTextoVoto(parlamentar.votos[votacao.idVotacao], 'parlamentar') }}
            </div>
          </div>
          <div class="col-10">
            {{ votacao?.objetoVotacao }}
            <p class="text-date">{{ votacao.data | date:'dd-MM-yyyy'}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
