.discurso {
    border: solid 2px #20201e;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.discurso-title {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    line-height: 0.6rem;
}

.discurso-resumo {
    font-size: 0.9rem;
}

.data {
    font-size: 0.9rem;
    font-style: italic;
    color: gray;
}
