.proposicao {
    border: solid 2px #20201e;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.proposicao-title {
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}

.proposicao-ementa {
    font-size: 0.9rem;
}
