<div class="interruptor mt-4">
  <a [routerLink]="['/governismo/senado']" [class.active]="casa === 'senado'">Senado</a>
  <a [routerLink]="['/governismo/camara']" [class.active]="casa === 'camara'">Câmara</a>
</div>
<article>
	<div class="mypreloader" *ngIf="showLoader"></div>
	<app-titleheader customTitle="governismo em plenário"></app-titleheader>
	<div class="head">
		<div class="t">
			<h3>Bolsonaro</h3>
			<p>2019-{{cDate | date:'yyyy'}}</p>
		</div>
		<input type="checkbox" id="abreFiltro" (change)="limpaFiltros($event.target.checked)">
		<div class="filtro">
			<label for="abreFiltro" class="mainbt">Explore</label>
			<div>
				<label for="abreFiltro" class="close"></label>
				<div class="f j">
					<select (change)="partidoChanged($event.target.value)">
						<option value="">Partido</option>
						<option *ngFor="let t of partidos;" [value]="t">{{t}}</option>
					</select>
					<select (change)="ufChanged($event.target.value)">
						<option value="">UF</option>
						<option *ngFor="let t of ufs;" [value]="t">{{t}}</option>
					</select>
					<select (change)="generoChanged($event.target.value)">
						<option value="">Gênero</option>
						<option value="M">Masculino</option>
						<option value="F">Feminino</option>
					</select>
				</div>
				<!-- <input type="text" placeholder="Nome"(change)="nomeChanged($event.target.value)" > -->
			</div>
		</div>
		<div class="regua">
			<input type="checkbox" id="controlasanfona1" class="controlasanfona">
			<div class="sanfonaoposto">
				<div class="f j"><span>Base do Governo</span><span>Oposição</span></div>
				<div class="barra f" *ngIf="gGrupos">
					<div [ngStyle]="{'width': (gGrupos[75].length / np *100 | number: '.3-3')+'%'}"></div>
					<div [ngStyle]="{'width': (gGrupos[50].length / np *100 | number: '.3-3')+'%'}"></div>
					<div [ngStyle]="{'width': (gGrupos[25].length / np *100 | number: '.3-3')+'%'}"></div>
					<div [ngStyle]="{'width': (gGrupos[0].length / np *100 | number: '.3-3')+'%'}"></div>
				</div>
				<div class="f ac" *ngIf="gGeral">
					<h4>{{gGeral.total}}%</h4>
					<p>é o alinhamento {{ casa==='senado'?"do Senado":"da Câmara" }} com o governo em <strong>{{gGeral.nvotacoes}} votações</strong> <label for="controlasanfona1">Histórico</label></p>
				</div>
			</div>
			<div class="sanfona">
				<div class="f j"><span>Base do Governo</span><span>Oposição</span></div>
				<div *ngFor="let trimestre of gTrimestral; index as i;" class="trimestres">
					<div class="barra f">
						<div [ngStyle]="{'width': (trimestre[75] / trimestre.np *100 | number: '.3-3')+'%'}"></div>
						<div [ngStyle]="{'width': (trimestre[50] / trimestre.np *100 | number: '.3-3')+'%'}"></div>
						<div [ngStyle]="{'width': (trimestre[25] / trimestre.np *100 | number: '.3-3')+'%'}"></div>
						<div [ngStyle]="{'width': (trimestre[0] / trimestre.np *100 | number: '.3-3')+'%'}"></div>
					</div>
					<div class="mes f j"><span>{{ trimestre.afavor/trimestre.n*100 | number: '1.0-0' }}%</span><span>{{ trimestre.nvotacoes }} votações <b>{{ trimestre.data | date:'MM/yyyy'}}</b></span></div>
				</div>
				<p class="f">
					<label for="controlasanfona1" style="margin-left: 0;">Fechar Histórico</label>
				</p>
			</div>
			<div class="tc">
				<span>Base do governo</span>
			</div>
		</div>
	</div>
	<img src="assets/imgs/bolsonaro.jpg" class="foto" width="106" height="106">
	<div><svg id="radarControler" width="500" height="500"></svg></div>
	<div class="text-center">
		<span>Oposição</span>
	</div>
</article>
<div class="explica">
	<input type="checkbox" id="controlasanfonameto" class="controlasanfona">
	<div class="sanfonaoposto">
		<p>Estes são os {{ casa==='senado'?"senadores":"deputados federais" }} segundo o nível de governismo e a presença em votações. <label for="controlasanfonameto" style="margin-left: 0;">Mais</label></p>
	</div>
	<div class="sanfona">
		<p>Estes são os {{ casa==='senado'?"senadores":"deputados federais" }} segundo o nível de governismo e a presença em votações.</p>
		<div *ngIf="casa==='camara'">
			<h5>presença em votações</h5>
			<div class="f">
				<p>Até 30%</p>
				<p>30% a 70%</p>
				<p>Mais de 70%</p>
			</div>
			<p>Em tamanho menor são os parlamentares com baixo porcentual de presença, ou seja, aqueles que participaram de poucas votações, independente do seu voto.</p>
		</div>
		<h5>Índice de governismo</h5>
		<p>O índice é calculado a partir das votações do parlamentar que seguiram ou não a orientação do líder do governo. Votos iguais à orientação (sim ou não) aumentam o índice; qualquer opção diferente da orientação (seja sim, não, abstenção ou falta), diminuem o índice de governismo.</p>
		<p>Não aparecem no gráfico os parlamentares que não atingiram o nível mínimo de votações para o cálculo do índice.</p>
		<p><label for="controlasanfonameto" style="margin-left: 0;">Recolher</label></p>
	</div>
</div>
<div id="tooltip"></div>