.controls {

  @media (max-width: 575.98px) {
    display: flex;
    justify-content: space-between;

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1050;
  }
}

.parlamentar-count {
  line-height: 40px;
}

.controls-toolbar {
  line-height: 36px;

  @media (min-width: 576px) {
    display: flex;
    justify-content: center;
  }
}

.btn-light-icon:not(:disabled):not(.disabled):active,
.btn-light-icon:not(:disabled):not(.disabled).active,
.show > .btn-light-icon.dropdown-toggle {
  background-color: #fff;
  border-color: #fff;
  color: #00AB56;

  &.active {
    background-color: #00AB56;
    border-color: #00AB56;
    color: #fff;
  }
}

.btn-icon-label {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
