<div class="container py-4">

  <app-filter
    (filterChange)="search($event)"
  ></app-filter>

  <header class="controls py-2">
    <div class="parlamentar-count">
      <strong class="strong">{{ parlamentares?.length }}</strong>
      parlamentares
    </div>
    <div class="controls-toolbar">
      <div class="btn-toolbar">
        <div class="d-none d-sm-block btn-icon-label">Exibir:</div>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_MD}"
          (click)="setView('md')"
        >
          <span class="icon-th-lg"></span>
        </button>
        <button
          [ngClass]="{'btn btn-light btn-light-icon': true, 'active': view == VIEW_SM}"
          (click)="setView('sm')"
        >
          <span class="icon-th-sm"></span>
        </button>
        <div class="d-none d-sm-block btn-icon-label">Ordernar:</div>
        <button
          class="btn btn-light btn-light-icon active"
          (click)="toggleOrderBy()"
        >
          <span [ngClass]="{'icon-sort-asc' : orderBy !== 'DESC', 'icon-sort-desc' : orderBy === 'DESC'}"></span>
        </button>
      </div>
    </div>
  </header>

  <app-lista-parlamentares
    [parlamentares]="parlamentares"
    [filter]="filtro"
    [view]="view"
  ></app-lista-parlamentares>

</div>
